body {
    margin: 0px;
    height: 800px;
    color: #666;
    font-family: Droid Serif;
}

#header {
    width: 100%;
    height: 25px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #f1366b, #fe5b3a);
}

#wrapper {
    margin: 0px auto;
    max-width: 980px;
    text-align: center;
}

#wrapper img {
    display: block;
    margin: 20px auto;
}

#wrapper .headline {
    display: none;
    font-size: 200%;
    font-weight: bold;
    color: linear-gradient(to right, #ff2a68, #ff5e3a);
}

#description {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    line-height: 140%;
    margin-bottom: 50px;
    color: #494949;
}

.team {
    overflow: hidden;
    margin: 20px auto;
}

.row {
    width: 819px;
}

.person {
    border: 1px #ccc solid;
    width: 250px;
    float: left;
    margin-right: 20px;
}

.person img {
    width: 220px;
    height: 220px;
}

.person-details{
    text-align: left;
    margin: 25px;
}

.person-name {
    color: #DE1C24 !important;
    text-style: normal;
    margin-top: -10px;
    margin-bottom: -10px;
}

.person-skills {
    font-size: 75%;
    font-style: italic;
    height: 30px;
}

.person-details ul {
    list-style-type: none;
    padding-left: 0px;
}

.person-links {
    font-size: 75%;
}

.person-links li{
    padding-top: 2px;
}

.person-links a {
    text-decoration: none;
    color: inherit;
}

#email-section-title {
    font-style: italic;
    margin-top:  40px;
}

#footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f1366b, #fe5b3a);
}
