body {
    margin: 0px;
    height: 800px;
    color: #666;
    font-family: Droid Serif;
}

#header {
    width: 100%;
    height: 25px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #f1366b, #fe5b3a);
}

#wrapper {
    margin: 0px auto;
    max-width: 1240px;
    text-align: center;
}

#wrapper .headline {
    font-size: 200%;
    font-weight: bold;
    color: #ff4451;
}


#description {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    line-height: 140%;
    margin-bottom: 50px;
    color: #494949;
}

#team-members {
    padding: 20px 0;
    overflow: hidden;
}

.person {
    display: inline-block;
    width: 240px;
    margin: 10px 8px;
    padding: 20px;
    border: 1px #ccc solid;
}

.person img {
    width: 240px;
    height: 240px;
}

.person-details{
    text-align: left;
    margin-bottom: 5px;
}

.person-name {
    color: #DE1C24;
    color: rgba(222,28,36,.7);
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.person-skills {
    font-size: 75%;
    font-style: italic;
    margin: 5px 0;
}

.person-details ul {
    list-style-type: none;
    padding-left: 0px;
}

.person-links {
    font-size: 75%;
}

.person-links li{
    padding-top: 2px;
}

.person-links a {
    text-decoration: none;
    color: inherit;
}

.email {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: #ff4451;
    text-decoration: none;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align:left;
    margin-top:  40px;
}

#footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f1366b, #fe5b3a);
    margin-top: 50px;
}

.twitter {
  font-size: medium;
}

.link {
    padding-right: 5px;
}
